@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --font-alro-reg: 'AlroRegular', sans-serif;
} */

@font-face {
  font-family: 'AlroRegular';
  src: url('/fonts/alro/ttf/alro-alro-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-azeret-mono: var(--font-azeret-mono);
  --font-alro-reg: var(--font-alro-reg);


  /* colors */
  --color-dark: #1C1C1C;
  --color-pepper-red: #FF0000;
  --color-sharp-yellow: #FFBF00;
  --color-blue: #005DFF;
  --color-cyan: #0ED6BF;
  --color-grey: #2F2F2F;
  --color-dark-black: #0D0D0D;
  --color-deep-blue: #03A9F4;
  --color-progress-cyan: #0DF0D6;
  --color-progress-grey: #BADFDA;

  /* breakpoint */
  --breakpoint-3xl: 1400px;
}

html {
  scroll-behavior: smooth;
}

/* Default dark theme */
:root,
.dark {
  --bg-color: #0A0A0C;
  --text-color: #ffffff;
}

.light {
  --bg-color: #F4F3EE;
  /* --bg-color: #e0e0e0; */
  --text-color: #000000;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-azeret-mono), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* For dark theme */
.dark-theme.landing_bg {
  background: url('../../public/profileImage.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100dvh;
}

/* For light theme */
.light-theme.landing_bg {
  background: url('../../public/profileImage-white.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100dvh;
}

@media (max-width: 1024px) {
  .landing_bg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100dvh;
  }
}


/* Custom Scrollbar */
@media (min-width: 1200px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #0ED6BF;
    border-radius: 9999px;
  }
}


/* Gallery Section  */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


a {
  color: inherit;
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Nav switch */
.ant-switch{
  background-color:grey !important;
  border: 1px solid white !important;
}
.nav-switch.ant-switch-checked{
  background-color: black !important;
  border: none !important;
}